<div class="jumbotron">
  <h1>Analysis of the Analysis</h1>
  <p>Finally a tool to check the accuracy of the Trefis analysis on the top stocks. Relying on hisotical data we
  will be able to determine how accurate are the trefis valuation team...</p>
</div>

<% @stocks.each do |stock| %>
  <%= link_to stock.company, stock_path(stock.id)  %>
<% end %>

