
<div id="container" style="height: 400px; min-width: 310px"></div>

<h1>Stocks#index</h1>
<p>Find me in app/views/stocks/index.html.erb</p>
<% @stocks.each do |stock| %>
  <%= link_to stock.company, "/stocks/show/#{stock.id}" %>
<% end %>

