<div class="jumbotron">
  <h1>Analysis of the Analysis</h1>
  <p>Finally a tool to check the accuracy of the Trefis analysis on the top stocks. Relying on historical data we
  will be able to determine how accurate the trefis valuation team is...</p>
</div>

<%= render partial: 'stock_list',locals: { stocks:  @stocks} %>
